.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  text-align: center;
}

.App-header {
  grid-column: 1/11;
  grid-row: 1/4;
  background-color: #111;
  height: 100%;
}

.App-input {
  grid-column: 1/11;
  grid-row: 4/5;
  background-color: #555;
  height: 100%;
}

.App-history {
  grid-column: 1/11;
  grid-row: 5/21;
  background-color: #8d8d8d;
  height: 100%;
}
